@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    width: 100vw;
    height: 100vh;
    background: #EBECE7;
    
}


.header {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 3%;
    font-family:'Open Sans', sans-serif;
    /* background-color: rgb(22, 22, 19); */
    background-color: #333;
    color: white;
}

/* .header h1{
   
    display: inline-block;
    margin: 1px;
    padding: 1px;
    transform: translate(80%, -50%);
    text-align: center;
    
} */

.header img{
    width:200px;
    height: 200px;
    /* float: left;
    clear: right; */
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    
   
}

.box{
    /* border: 1px solid black; */
    width: 50%;
    height: 50%;
    margin: 5%;
    padding: 2% 4%;
    display: inline-block;
    transform: translate(40%, 5%);
    background-color: white;
    font-family:'Open Sans', sans-serif;
}

.box h2{
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    font-weight: 1;
}

.register a{
    font-size: 0.9rem;
    text-decoration: none;
    color: #0A7099;
    /* transform: translateX(75%); */
}


.text-input{
    width: 100%;
    padding-left: 8%;
    border: none;
    outline: none;
    /* margin: 2%; */
    
}


.textfield{
    width: 100%;
    padding: 2% ;
    border: 1px solid #D3D3D3;
    margin: 2% 0;
    border-radius: 2px;
    /* margin-right: 4%; */
    
}

.email i{
    
    position: absolute;
    left: 70px;
    top: 92px;  
}

.password i{
    
    position: absolute;
    left: 70px;
    top: 180px;
}

.text{
    display: inline-block;
    /* justify-content: end; */
    color: #0A7099;
    transform: translateX(315%);
    text-decoration: none;
}

.text a{
    color: #0A7099;
    text-decoration: none;
    /* transform: translateX(0%); */
    /* padding-right: auto; */
}

.continue button{
    width: 100%;
    margin: 5% 0;
    padding: 2%;
    background-color: #045F86;
    color: white;
    border: none;
    border-radius: 2px;
}


.footer{
    background-color: white;
    width: 100%;
    height: 40%;
    font-family:'Open Sans', sans-serif;

}

.footer a{
    text-decoration: none;
    color: black;
    padding-bottom: 6%;

}
.att-foot{
    /* border: 1px solid black; */
    width: 83%;
    transform: translate(12%, 100%);
}
.span-foot{
    font-size: 0.7rem;
    margin: 2% 0;
    padding: 2% 0;
}

.line-foot{
    width: 30%;
    display: inline-block;
    /* border: 1px solid black; */
    transform: translate(33%, 150%);
    /* display: flex;
    justify-content: space-between; */
}

.follow{
    transform: translate(200%, -80%);
    /* display: block; */
    
}

.logo-icon i{
    padding: 2%;
}

.logo-foot{
    transform: translate(198%, -60%);
}